h1
    {
        color:rgb(112, 72, 185);
    }
h2
    {
        color:rgb(72, 114, 206);
    }
h3
    {
        color:darkblue;
    }
h4
    {
        color:dodgerblue;
    }
h4:hover
    {
        color:darkslateblue;
        font-size: 14pt;
        font-style: oblique;
    }
